<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="connDB" value="workstation id=localhost;packet size=4096;user id=sa;pwd=Master2014;data source=localhost;persist security info=False;initial catalog=Aflemsdb;" />
  </appSettings>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGpsWebServices">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="CustomBinding_ILandingPageMessage">
                    <!--    WsdlImporter encontró aserciones de directiva no reconocidas en ServiceDescription 'http://tempuri.org/':    -->
                    <!--    <wsdl:binding name='CustomBinding_ILandingPageMessage'>    -->
                    <!--        <sp:HttpsToken xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">..</sp:HttpsToken>    -->
                    <textMessageEncoding messageVersion="Soap12" />
                </binding>
            </customBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IGpsWebServices" maxReceivedMessageSize ="1048576">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://67.219.149.214:9003/ws" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IGpsWebServices" contract="wsSTECNO.IGpsWebServices"
                name="WSHttpBinding_IGpsWebServices" />
            <endpoint binding="customBinding" bindingConfiguration="CustomBinding_ILandingPageMessage"
                contract="wsSTECNO.ILandingPageMessage" name="CustomBinding_ILandingPageMessage" />
        </client>
    </system.serviceModel>
</configuration>
